$ cat .gitignore

bin/*.bgn
bin/*.bld
bin/*.cmd
bin/*.cmd_log
bin/*.csv
bin/*.drc
bin/*.exe
bin/*.gise
bin/*.html
bin/*.ini
bin/*.log
bin/*.lso
bin/*.map
bin/*.mrp
bin/*.ncd
bin/*.ngc
bin/*.ngd
bin/*.ngm
bin/*.ngr
bin/*.pad
bin/*.par
bin/*.pcf
bin/*.prj
bin/*.ptwx
bin/*.stx
bin/*.syr
bin/*.tcl
bin/*.twr
bin/*.twx
bin/*.txt
bin/*.unroutes
bin/*.ut
bin/*.wdb
bin/*.xml
bin/*.xpi
bin/*.xrpt
bin/*.xst
bin/*.xwbt
bin/*.zip
src/ipcore_dir/*
src/iseconfig/*
src/isim/*
src/planAhead_run_1/*
src/xlnx_auto_0_xdb/*
src/xst/*
src/_ngo/*
src/_xmsgs/*